<head>
    <title>Metrello</title>
    <meta name="viewport" content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=0">
</head>

<template name="StaticLayout">
    <div id="surface">
        <div id="content">
            {{ > yield }}
        </div>
    </div>
</template>

<template name="LandingLayout">
    {{ > yield }}
</template>

<template name="layout">
    {{ > yield "modal" }}
    <div id="surface">
        {{# if session 'pop' }}{{ > pop }}{{/if}}
        <div id="header">
            <a class="header-btn header-logo bgnone" href="{{ pathFor route='Home' }}">
                <span class="logo"></span>
            </a>
            <nav class="promo-nav">
                <a href="{{ pathFor route='Home' }}" id='navLanding'>Home</a>
                <a href="{{ pathFor route='Info' }}">Info</a>
            </nav>
            <div class="header-user">
                <a class="header-btn header-signup" href="{{ pathFor route='Signup' }}">Sign Up</a>
                <a class="header-btn header-login js-toggle-login-popover no-right-margin" href="{{ pathFor route='Login' }}">Log In</a>
            </div>
        </div>
        {{ > warning }}
        <div id="content">
            {{ > yield }}
        </div>
    </div>
</template>

<template name='AuthLayout'>
    {{ > yield "modal" }}
    <div id="surface">
        {{# if session 'pop' }}{{ > pop }}{{/if}}
        <div id="header">
            <div class="header-boards-button">
                <a class="header-btn header-boards js-boards-menu" title="View list of boards" href="{{ pathFor route='Boards' }}">
                    <span class="header-btn-icon icon-lg icon-board light"></span>
                    <span class="header-btn-text">Boards</span>
                </a>
            </div>
            {{ > search }}
            {{ > memberHeader }}
        </div>
        {{ > warning }}
        <div id="content">
            {{ > yield }}
        </div>
    </div>
</template>

<template name="search">
    <div id="header-search">
        <label for="search-text">Global Search</label>
        <input id="search-text" type="text" autocomplete="off" autocorrect="off" spellcheck="false">
        <input id="search-submit" type="submit" value="Search">
        <a class="header-btn header-search js-search-submit" href="#" title="Search for boards, cards, members, and organizations.">
            <span class="header-btn-icon icon-lg icon-search light"></span>
        </a>
    </div>
</template>

<template name="home">
    <div class="whiteBg">
        <header id="landingHeader" class="landing-header">
            <img id="landingLogo" title="Trello logo" src="/logo.png">
        </header>
        <section id="landingFirstSignUpButton" class="landing-section">
            <div class="width-wrapper tac">
                <a class="button primary primarys" href="{{ pathFor route='Signup' }}"> Sign Up—It’s Free! </a>
            </div>
            <div class="layout-twothirds-center tac">
                <p>
                    <a href="{{ pathFor route='Login' }}" class="quiet" data-track="Login" style="padding: 1em 2em;"> Or log in </a>
                </p>
            </div>
        </section>
        <section class="section-everything"> 
            <div class="section-wrapper"> 
                <div class="layout-twothirds-center tac"> 
                    <p>
                        We are not affiliated, associated, authorized, endorsed by or in any way officially connected to <strong>Trello, Inc</strong> <a href="http://trello.com">www.trello.com</a>.
                    </p>
                </div> 
            </div> 
        </section>
    </div>
</template>

<template name='loading'>
    <div id="header"></div>
    <div class="tabbed-pane-main-col-loading js-loading-page">
        <span class="tabbed-pane-main-col-loading-spinner spinner"></span>
    </div>
</template>

<template name="notfound">
    {{ > message label='Page not found.'}}
</template>

<template name='message'>
    <div class="big-message quiet {{ color }}">
        <h1>{{ label }}</h1>
        <p> This page may be private. You may be able to view it by <a href="{{ pathFor route='Login' }}">logging in</a>. </p>
    </div>
</template>

<template name="warning">
    {{# if session 'warning' }}
        <div class="header-banner header-banner-warning">
            <p class="bottom">
                <span class="inline-block">{{ warning.desc }}</span>
                <span class="inline-block">
                    <a class="button primary" href="{{ pathFor route='Signup' }}" style="margin: 0 4px;">
                        Sign up for free
                    </a>
                </span>
            </p>
        </div>
    {{/if}}
</template>

<template name="pop">
    <div class="pop-over clearfix {{ isTrueThen pop.label false 'miniprofile' }}" style="display: block; left: {{ pop.left }}px; top: {{ pop.top }}px;">
        <div class="header clearfix">
            <a class="back-btn js-back-view" href="#" style="display: none;">
                <span class="icon-sm icon-leftarrow"></span>
            </a>
            <span class="header-title">{{ pop.label }}</span>
            <a class="close-btn js-close-popover" href="#">
                <span class="icon-sm icon-close"></span>
            </a>
        </div>
        <div class="content clearfix fancy-scrollbar js-tab-parent" style="max-height: 549px;">
            {{> UI.dynamic template=pop.template data=pop.data }}
        </div>
    </div>
</template>

<template name="avatar">
    <div class="member {{# if draggable }}js-member{{else}}js-member-on-card-menu{{/ if}}" popOffset='{{ popOffset }}'>
        <span class="member-initials" title="{{ member.user.profile.name }} ({{ member.user.username }})">
            {{ firstChar member.user.profile.name }}
        </span>
        <span class="member-status {{ isTrueThen member.user.profile.status 'online' 'active' }}"></span>
        <span class="member-type {{ member.memberType }}"></span>
    </div>
</template>
