<template name="boards">
        <div class="member-boards-view">
            <div class="window-module-title window-module-title-no-divider"> 
                <span class="icon-lg window-module-title-icon icon-member"></span> 
                <h3>My Boards</h3>
            </div> 
            <ul class="board-list gutter js-board-list clearfix">
                {{#each all}}
                    <li class="board" data-id="{{ _id }}">
                        <a href="{{get_absolute_url _id }}" class="js-open-board highlight-icon" style="background-color: #23719F; ">
                            <span class="details"> 
                                <span class="board-list-item-name" title="{{ title }}">{{ title }}</span>
                            </span>
                        </a>
                    </li>
                {{ else }}
                    <p class="quiet" style="padding: 8px 12px;">No boards.</p>
                {{/each}}
            </ul>
        </div>
</template>

<template name="rename_board">
    <form id="RenameBoardForm"> 
        <label>Name</label> 
        <input type="text" class="js-board-name js-autofocus" value="{{ board.title }}"> 
        <input type="submit" class="primary wide js-rename-board" value="Rename"> 
    </form> 
</template>

<template name="create_board">
    <form id="CreateBoardForm"> 
        <label for="boardNewTitle">Title</label> 
        <input id="boardNewTitle" type="text" name="name" class="non-empty js-autofocus" placeholder="Untitled Board" autofocus>       
        <input type="submit" class="primary wide js-submit" value="Create"> 
    </form>
</template>

<template name="permission_level">
    <ul class="pop-over-list"> 
        <li> 
            <a class="js-select light-hover" href="#" name="private"> 
                <span class="icon-sm icon-private vis-icon"></span> 
                Private  
                {{#if board.private }}
                    <span class="icon-sm icon-check"></span>
                {{/if}}
                <span class="sub-name"> This board is private.  Only people added to the board can view and edit it.  </span> 
            </a> 
        </li>  
        <li> 
            <a class="js-select light-hover" href="#" name="public"> 
                <span class="icon-sm icon-public vis-icon"></span> 
                Public  
                {{#unless board.private }}
                    <span class="icon-sm icon-check"></span>
                {{/unless}}
                <span class="sub-name"> 
                    This board is public. It's visible to anyone with the link and will show up in search engines like Google.  Only people added to the board can edit.  
                </span> 
            </a> 
        </li> 
    </ul>
</template>
