<template name="boards">
    <div class="member-boards-view">
        <div class="window-module-title window-module-title-no-divider"> 
            <span class="icon-lg window-module-title-icon icon-member"></span> 
            <h3>My Boards</h3>
        </div> 
        <ul class="board-list gutter js-board-list clearfix">
            {{# each boards }} 
                <li class="board">
                    <a href="{{ pathFor route='Board' }}" class="js-open-board highlight-icon" style="background-color: #23719F;">
                        <span class="details"> 
                            <span class="board-list-item-name">{{ title }}</span>
                        </span>
                    </a>
                </li>
            {{ else }}
                <p class="quiet" style="padding: 8px 12px;">No boards.</p>
            {{ / each }}
        </ul>
    </div>
</template>

<template name="board">
    {{# if board }}
        <div class="board-wrapper {{ isTrueThen board.openWidgets false 'disabled-all-widgets' }}">
            <div class="board-header clearfix js-board-header">
                <a href="#" class="board-header-btn board-header-btn-name js-rename-board {{ board.edit '' 'no-edit' 'admin' }}" popoffset='boardName' title="Rename the board."> 
                    <span class="board-header-btn-text"> {{ board.title }} </span> 
                </a>
                <a href="#" class="board-header-btn perms-btn js-change-vis {{ board.edit '' 'no-edit' 'admin' }}" id="permission-level" popoffset='boardPermission'>
                    <span class="board-header-btn-icon icon-sm icon-{{ toLowerCase board.permission }}"></span> 
                    <span class="board-header-btn-text">{{ board.permission }}</span> 
                </a>
            </div>
            {{ > boardWidgets board=board }}
            {{ > lists board=board }}
        </div>
    {{ else }}
        {{ > message label='Board not found.' color='white'}}
    {{/if}}
</template>

<template name="createBoardPop">
    <div class="content clearfix fancy-scrollbar js-tab-parent">
        <form id="CreateBoardForm"> 
            <label for="boardNewTitle">Title</label> 
            <input id="boardNewTitle" type="text" name="name" class="non-empty js-autofocus" placeholder="Like “Bucket List” for example…" autofocus> 
            <p class="quiet js-vis-display">
                <span class="icon-sm icon-public"></span>This board will be <strong>public</strong>.</p>
            <input type="submit" class="primary wide js-submit" value="Create">
        </form>
    </div>
</template>

<template name="changeBoardTitlePop">
    <form id="ChangeBoardTitleForm"> 
        <label>Name</label> 
        <input type="text" class="js-board-name js-autofocus" value="{{ title }}" autofocus> 
        <input type="submit" class="primary wide js-rename-board" value="Rename"> 
    </form>
</template>

<template name="changePermissionBoardPop">
    <ul class="pop-over-list"> 
        <li> 
            <a class="js-select light-hover" href="#" name="Private"> 
                <span class="icon-sm icon-private vis-icon"></span> 
                Private  
                {{# if check 'Private' }}
                    <span class="icon-sm icon-check"></span>  
                {{/if}}
                <span class="sub-name"> This board is private.  Only people added to the board can view and edit it.  </span> 
            </a> 
        </li>  
        <li> 
            <a class="js-select light-hover" href="#" name="Public"> 
                <span class="icon-sm icon-public vis-icon"></span> 
                Public  
                {{# if check 'Public' }}
                    <span class="icon-sm icon-check"></span>  
                {{/if}}
                <span class="sub-name"> This board is public. It's visible to anyone with the link and will show up in search engines like Google.  Only people added to the board can edit.  </span> 
            </a> 
        </li> 
    </ul>
</template>
