<template name="boards">
    <div class="member-boards-view">
        <div class="window-module-title window-module-title-no-divider"> 
            <span class="icon-lg window-module-title-icon icon-member"></span> 
            <h3>My Boards</h3>
        </div> 
        <ul class="board-list gutter js-board-list clearfix">
            {{# each boards }} 
                <li class="board">
                    <a href="{{ pathFor route='Board' }}" class="js-open-board highlight-icon" style="background-color: #23719F;">
                        <span class="details"> 
                            <span class="board-list-item-name">{{ title }}</span>
                        </span>
                    </a>
                </li>
            {{ else }}
                <p class="quiet" style="padding: 8px 12px;">No boards.</p>
            {{ / each }}
        </ul>
    </div>
</template>

<template name="board">
    <div class="board-wrapper disabled-all-widgets">
        <div class="board-wrapper disabled-all-widgets">
            <div class="board-header clearfix js-board-header">
                <a href="#" class="board-header-btn board-header-btn-name js-rename-board" title="Rename the board."> 
                    <span class="board-header-btn-text"> {{ board.title }} </span> 
                </a>
                <a href="#" class="board-header-btn perms-btn js-change-vis" id="permission-level">
                    <span class="board-header-btn-icon icon-sm icon-{{ toLowerCase board.permission }}"></span> 
                    <span class="board-header-btn-text">{{ board.permission }}</span> 
                </a>
            </div>
        </div> 
        <div class="board-canvas">
            <div id="board" class="clearfix">
                {{ > lists board=board }}
            </div>
        </div>
    </div>
</template>

<template name='lists'>
    <div class="list-area-wrapper fancy-scrollbar"> 
        <div class="list-area  js-list-sortable  js-no-higher-edits clearfix ui-sortable" attr="name"> 
            {{# each board.lists }} 
                <div class="list">
                    <div class="list-header js-list-header non-empty clearfix editable">
                        <h2 class="list-header-name hide-on-edit js-list-name current">{{ title }}</h2>
                        <div class="edit edit-heavy clearfix"> 
                            <textarea type="text" class="field single-line" style="height: 66px;">{{ title }}</textarea>      
                            <div class="edit-controls clearfix"> 
                                <input type="submit" class="primary confirm js-save-edit" value="Save"> 
                                <a href="#" class="icon-lg icon-close dark-hover cancel js-cancel-edit"></a>
                            </div>
                        </div>
                        <a href="#" class="list-header-menu-icon icon-sm icon-menu dark-hover js-open-list-menu"></a>
                    </div>
                    {{ > cards cards=cards }}
                </div>
            {{/each}}
            {{ > addlistForm }}
        </div>
    </div>
</template>

<template name="cards">
    <div class="list-cards fancy-scrollbar clearfix js-list-cards js-sortable ui-sortable">
        {{# each cards }}  
            <div class="list-card js-member-droppable ui-droppable">
                <span class="list-card-operation icon-sm icon-menu dark-hover js-card-menu"></span>
                <div class="list-card-details">{{ title }}</div>
            </div>
        {{/each}}
        {{ > addCardForm }}
    </div>
    <a class="open-card-composer js-open-card-composer" href="#">Add a card…</a>
</template>

<template name="addCardForm">
    <div class="CardAddForm dn">
        <div class="card-composer">
            <div class="list-card js-composer" style="padding-bottom: 0px;"> 
                <div class="list-card-labels clearfix js-list-card-composer-labels"></div> 
                <textarea class="list-card-composer-textarea js-card-title card-title"></textarea> 
                <div class="list-card-members js-list-card-composer-members"></div> 
            </div> 
            <div class="cc-controls clearfix"> 
                <input type="submit" class="primary confirm js-add-card" value="Add">   
            </div> 
        </div>
    </div>
</template>

<template name="addlistForm">
    <div class="list add-list idle">
        <form id="ListAddForm"> 
            <span class="placeholder js-open-add-list">Add a list…</span> 
            <input type="text" class="list-name-input" name="name" placeholder="Add a list…" autocomplete="off"> 
            <div class="edit-controls keep clearfix"> 
                <input type="submit" class="primary confirm js-save-edit" value="Save"> 
                <a href="#" class="icon-lg icon-close dark-hover cancel js-cancel-edit"></a> 
            </div> 
        </form> 
    </div>
</template>
