/* CSS declarations go here */

#AddBoardForm input[type='text'] { width:234px; }
.boardPage { background-color: rgb(35, 113, 159); }
.dn { display:none; }
.header-btn.upgrade,.header-btn.header-boards{ padding-left: 9px!important;}
#landingLogo { width:150px!important; }
.whiteBg { background:white; }

.js-open-board:hover { background-color:#226791!important; }
.list-header-name { word-wrap: break-word; }
.list-card-details:hover { background:#f2f2f2;border-bottom-color:#b3b3b3; }

.promo-nav a#navLanding {background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAMAAAD6Ou7DAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAlg/kKQc7w9X4AX9QUf799Yq2lgAAADZJREFUCB0FwYUBgAAAwCDs1v1/rQDcDwDjNI0AhhoA1q/eFVj2qn0BV1VdMB9VdcycW1XVdv5TywJ7mq6QbgAAAABJRU5ErkJggg==') no-repeat center bottom;cursor:default;color:#a2d6f4;padding-bottom:12px}

