/* CSS declarations go here */

#AddBoardForm input[type='text'] { width:234px; }
.boardPage { background-color: rgb(35, 113, 159); }
.dn { display:none; }
.header-btn-btn { padding-left:23px!important; ; }
.whiteBg { background:white; }
.bgnone { background:none!important; }

.js-open-board:hover { background-color:#226791!important; }
.list-header-name { word-wrap: break-word; }
.list-card-details:hover { background:#f2f2f2;border-bottom-color:#b3b3b3; }

.pop_header_user { right:5px!important; top:45px!important; display:block!important; }

.promo-nav a#navLanding {background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAMAAAD6Ou7DAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAlg/kKQc7w9X4AX9QUf799Yq2lgAAADZJREFUCB0FwYUBgAAAwCDs1v1/rQDcDwDjNI0AhhoA1q/eFVj2qn0BV1VdMB9VdcycW1XVdv5TywJ7mq6QbgAAAABJRU5ErkJggg==') no-repeat center bottom;cursor:default;color:#a2d6f4;padding-bottom:12px}

.header-btn.header-logo .logo { background-image: url(/img/middle_logo.png); background-repeat: no-repeat; display: block; height: 30px; width: 80px; }
.header-logo { left:auto!important; right:auto!important; top:auto!important; bottom:auto!important; margin-left:0px!important; opacity:9!important; }

.base-loading { background:url('/img/middle_logo.png'); width:80px; height:30px; margin:50px auto; }
.base-loading .loading-gif { background:url(/img/loading.gif); background-size: 18px 18px; height: 18px; left: 2px; position: relative; top: 6px; width: 18px; }
