<template name="cards">
    <div class="list-cards cards fancy-scrollbar clearfix js-list-cards js-sortable ui-sortable">
        {{# each cards }} 
            <div class="list-card js-member-droppable ui-droppable">
                <div class="list-card-labels clearfix js-card-labels"></div> 
                <div class="list-card-cover js-card-cover hide"></div> 
                <span class="list-card-operation icon-sm icon-edit dark-hover js-open-quick-card-editor js-card-menu"></span> 
                <div class="list-card-details clearfix"> 
                    <a class="list-card-title clear js-card-name" href="#">{{ title }}</a>  
                    <div class="badges"></div> 
                    <div class="list-card-members js-list-card-members"></div> 
                </div> 
            </div>
        {{/each}}
        {{ > addCardForm }}
    </div>
    <a class="open-card-composer js-open-card-composer" href="#">Add a card…</a>
</template>

<template name="addCardForm">
    <div class="card-composer hide">
        <form id="AddCardForm">
            <div class="list-card js-composer"> 
                <div class="list-card-labels clearfix js-list-card-composer-labels"></div> 
                <div class="list-card-details clearfix"> 
                    <textarea class="list-card-composer-textarea js-card-title" style="overflow: hidden; word-wrap: break-word; height: 36px;"></textarea> 
                    <div class="list-card-members js-list-card-composer-members"></div> 
                </div> 
            </div> 
            <div class="cc-controls clearfix"> 
                <input type="submit" class="primary confirm js-add-card" value="Add"> 
                <a class="icon-lg icon-close dark-hover js-cancel" href="#"></a> 
                <a class="cc-opt icon-lg icon-menu dark-hover js-cc-menu" href="#"></a> 
            </div> 
        </form>
    </div>
</template>
