<template name="cards">
    <div class="list-cards cards fancy-scrollbar clearfix js-list-cards js-sortable ui-sortable">
        {{# each cards }} 
            <div class="list-card card js-member-droppable">
                <div class="list-card-labels clearfix js-card-labels"></div> 
                <span class="list-card-operation icon-sm icon-edit dark-hover js-open-quick-card-editor js-card-menu"></span> 
                <div class="list-card-details clearfix"> 
                    <a class="list-card-title clear js-card-name" href="#">{{ title }}</a>  
                    <div class="badges"></div> 
                    <div class="list-card-members js-list-card-members">
                        {{# each members }}
                            <div class="member js-member-on-card-menu" popOffset='membersAdd'> 
                                <span class="member-initials" title="{{ member.user.profile.fullname }} ({{ member.user.username }})">
                                    {{ firstChar member.user.profile.fullname }}
                                </span>
                                <span class="member-status {{ isTrueThen member.user.profile.status 'online' 'active' }}"></span> 
                                <span class="member-type {{ member.memberType }}"></span>   
                            </div>
                        {{/each}}
                    </div>
                </div> 
            </div>
        {{/each}}
        {{ > addCardForm }}
    </div>
    <a class="open-card-composer js-open-card-composer {{ isMemberAll '' 'hide' }}" href="#">Add a card…</a>
</template>

<template name="cardMemberPop">
    <div class="board-member-menu">
        <div class="mini-profile-info"> 
            <div class="member-large">  
                <span class="member-initials" title="{{ user.profile.fullname }} ({{ user.profile.username}})">{{ firstChar user.profile.fullname }}</span>
            </div> 
            <div class="info"> 
                <h3 class="bottom" style="margin-right: 40px;">
                    <a class="js-profile" href="{{ pathFor route='Profile' username=user.username }}">{{ user.profile.fullname }}</a>
                </h3> 
                <p class="quiet bottom">@{{ user.username }}</p>
            </div> 
        </div> 
        <ul class="pop-over-list {{ isMemberAll '' 'hide' }}"> 
            <li><a class="js-remove-member">Remove from Card</a></li>
        </ul> 
    </div>
</template>

<template name="addCardForm">
    <div class="card-composer hide">
        <form id="AddCardForm">
            <div class="list-card js-composer"> 
                <div class="list-card-labels clearfix js-list-card-composer-labels"></div> 
                <div class="list-card-details clearfix"> 
                    <textarea class="list-card-composer-textarea js-card-title" style="overflow: hidden; word-wrap: break-word; height: 36px;"></textarea> 
                    <div class="list-card-members js-list-card-composer-members"></div> 
                </div> 
            </div> 
            <div class="cc-controls clearfix"> 
                <input type="submit" class="primary confirm js-add-card" value="Add"> 
                <a class="icon-lg icon-close dark-hover js-cancel" href="#"></a> 
                <a class="cc-opt icon-lg icon-menu dark-hover js-cc-menu" href="#"></a> 
            </div> 
        </form>
    </div>
</template>

<template name="cardDetailWindow">
    <div class="card-detail-window clearfix"> 
        <div class="window-header clearfix"> 
            <span class="window-header-icon icon-lg icon-card"></span> 
            <div class="window-title card-detail-title non-empty inline {{ isMemberAll 'editable' '' }}"> 
                <h2 class="window-title-text current hide-on-edit js-card-title">{{ card.title }}</h2>  
                <div class="edit edit-heavy"> 
                    <textarea type="text" class="field single-line"></textarea> 
                </div>  
                <div class="quiet hide-on-edit window-header-inline-content js-current-list">
                    <p class="inline-block bottom">
                        in list 
                        <a href="#" class="{{ isMemberAll 'js-open-move-from-header' 'disabled' }}"><strong>{{ list.title }}</strong></a>
                    </p> 
                </div> 
            </div> 
        </div>
    </div>
</template>
