/*
*
* 
* DEPLOY PRODUCTION CONFIG OBJECTS
*
* PRIVATE OBJECT privatr/conf.js
*/


var DIRECTORY_CONF = {

        trello_repo: "/hoem/bla/bla"
    },

    GIT = {
        pull_master: ";git pull origin master"
    },

    COMMANDS = {
        trello_repo_update: "cd " + DIRECTORY_CONF.trello_repo + GIT.pull_master
    },

    PRODUCTION_CONF = {

        // server 1
        "server1.com": {
            host: 'server1.com',
            port: 22,
            username: 'root',
            password: 'pass_'
        },

        // server 2
        "server2.com": {
            host: 'server2.com',
            port: 22,
            username: 'root',
            password: 'pass_'
        }
    };

exports.PRODUCTION_CONF = PRODUCTION_CONF
exports.COMMANDS = COMMANDS
