<template name='lists'>
    <div class="board-canvas">
        <div id="board" class="lists fancy-scrollbar js-no-higher-edits js-list-sortable ui-sortable">
            {{# each board.lists }}
                <div class="list" popoffset='list'>
                    <div class="list-header js-list-header non-empty clearfix {{ isMemberAll 'editable' '' }}">
                        <h2 class="list-header-name js-list-name current {{ isMemberAll 'hide-on-edit' '' }}">{{ title }}</h2>
                        {{ > listTitleEditForm list=this }}
                        <a href="#" class="list-header-menu-icon icon-sm icon-menu dark-hover js-open-list-menu {{ isMemberAll '' 'hide' }}"></a>
                    </div>
                    {{ > cards cards=cards listId=_id board=board }}
                </div>
            {{/each}}
            {{ > addlistForm }}
        </div>
    </div>
</template>

<template name="listTitleEditForm">
    <form id="ListTitleEditForm">
        <div class="edit edit-heavy clearfix">
            <input type="text" class="field fieldSingle single-line js-title-input" value="{{ list.title }}">
            <div class="edit-controls clearfix">
                <input type="submit" class="primary confirm js-save-edit" value="Save">
                <a href="#" class="icon-lg icon-close dark-hover cancel js-cancel-edit"></a>
            </div>
        </div>
    </form>
</template>

<template name="addlistForm">
    <div class="list add-list idle {{ isMemberAll '' 'hide' }}">
        <form id="AddListForm">
            <span class="placeholder js-open-add-list">Add a list…</span>
            <input type="text" class="list-name-input" placeholder="Add a list…" autocomplete="off">
            <div class="edit-controls keep clearfix">
                <input type="submit" class="primary confirm js-save-edit" value="Save">
                <a href="#" class="icon-lg icon-close dark-hover cancel js-cancel-edit"></a>
            </div>
        </form>
    </div>
</template>

<template name="listActionPop">
    <ul class="pop-over-list">
        <li><a class="js-add-card" href="#">Add Card…</a></li>
        <li><a class="highlight-icon js-list-subscribe" href="#">Subscribe</a></li>
    </ul>
    <hr>
    <ul class="pop-over-list">
        <li><a class="js-close-list" href="#">Archive This List</a></li>
    </ul>
</template>
