<template name="activities">
    <div class="js-sidebar-list-actions">
        {{# each board.activities }}
            <div class="phenom phenom-action clearfix phenom-other">
                <div class="creator member js-show-mem-menu">   
                    <span class="member-initials" title="{{ user.profile.fullname }} ({{ user.username }})">
                        {{ firstChar user.profile.fullname }}
                    </span>       
                </div>
                <div class="phenom-desc"> 
                    {{ > memberName user=user offset='member' }} 

                    {{# if isTrue activityType 'createBoard' }} 
                        created this board.
                    {{ /if }}
                    {{# if isTrue activityType 'createList' }} 
                        added {{ list.title }} to this board.
                    {{ /if }}

                    {{# if isTrue activityType 'archivedList' }} 
                        archived {{ list.title }}.
                    {{ /if }}

                    {{# if isTrue activityType 'createCard' }} 
                        added <a href="{{ card.absoluteUrl }}" class="action-card">{{ card.title }}</a> to {{ list.title }}.
                    {{ /if }}

                    {{# if isTrue activityType 'archivedCard' }} 
                        archived <a href="{{ card.absoluteUrl }}" class="action-card">{{ card.title }}</a>
                    {{ /if }}

                    {{# if isTrue activityType 'restoredCard' }}
                        sent <a href="{{ card.absoluteUrl }}" class="action-card">{{ card.title }}</a> to the board.
                    {{ /if }}

                    {{# if isTrue activityType 'addBoardMember' }} 
                        added  {{ > memberName user=member.user offset='member' }} to this board.
                    {{ /if }}

                    {{# if isTrue activityType 'joinMember' }} 
                        {{# if isTrue currentUser._id member.user._id }} 
                            joined <a href="{{ card.absoluteUrl }}" class="action-card">{{ card.title }}</a>.
                        {{ else }} 
                            added {{ > memberName user=member.user offset='member' }} to <a href="{{ card.absoluteUrl }}" class="action-card">{{ card.title }}</a>.
                        {{/if}}
                    {{ /if }}

                    {{# if isTrue activityType 'addComment' }} 
                        <div class="phenom-desc"> 
                            on <a href="{{ card.absoluteUrl }}" class="action-card">{{ card.title }}</a>
                            <div class="action-comment markeddown">   
                                <div class="current-comment">
                                    <p>{{ comment.text }}</p>
                                </div> 
                            </div>
                        </div> 
                    {{ /if }}
                </div>
                <p class="phenom-meta quiet"> 
                    <span class="date js-hide-on-sending">
                        {{ livestamp createdAt }}
                    </span>  
                </p>
            </div>
        {{ /each }}
    </div>
</template>

<template name="cardActivities">
        <div class="js-list-actions">
            {{# each card.comments }} 
                <div class="phenom phenom-action clearfix phenom-comment"> 
                    <div class="creator member js-show-mem-menu">  
                        <span class="member-initials" title="{{ user.profile.fullname }} ({{ user.username }})">{{ firstChar user.profile.fullname }}</span>       
                    </div>   
                    <form>
                        <div class="phenom-desc"> 
                            {{ > memberName user=user offset='user' }}
                            <div class="action-comment markeddown">   
                                <div class="current-comment">
                                    <p>{{ text }}</p>
                                </div> 
                                <textarea class="js-text" tabindex="1">{{ text }}</textarea>  
                            </div>              
                        </div> 
                        <div class="edit-controls clearfix">   
                            <input type="submit" class="primary confirm js-save-edit" value="Save" tabindex="2"> 
                        </div>
                    </form>
                    <p class="phenom-meta quiet"> 
                        <span class="date js-hide-on-sending">{{ livestamp createdAt }}</span>  
                        <span class="js-hide-on-sending {{ isUserThen '' 'hide'}}">
                            - <a href="#" class="js-edit-action">Edit</a>   
                            - <a href="#" class="js-confirm-delete-action">Delete</a>
                        </span>  
                    </p> 
                </div>
            {{/each}}

            {{# each card.activities }}
                <div class="phenom phenom-action clearfix phenom-other"> 
                    <div class="creator member js-show-mem-menu">   
                        <span class="member-initials" title="{{ user.profile.fullname }} ({{ user.username }})">{{ firstChar user.profile.fullname }}</span>       
                    </div>   
                    {{ > memberName user=user offset='user' }}
                    {{# if isTrue activityType 'createCard' }} 
                        added this card to {{ list.title }}.
                    {{ /if }}
                    {{# if isTrue activityType 'joinMember' }}  
                        {{# if isTrue currentUser._id member.user._id }} 
                            joined this card.
                        {{ else }} 
                            added this card to {{ > memberName user=member.user offset='user' }}
                        {{/if}}
                    {{/if}}
                    {{# if isTrue activityType 'archivedCard' }}
                        archived this card.
                    {{ /if }}
                    {{# if isTrue activityType 'restoredCard' }}
                        sent this card to the board.
                    {{/ if }}
                </div>
            {{/each}}
        </div>
</template>
